<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
        <li class="mx-2"><a href="#">«</a></li>
        <li class="mx-2">
            <a href="/jan_events">
                <p class="pag-month">Jan</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/feb_events">
                <p class="pag-month">Feb</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/mar_events">
                <p class="pag-month">Mar</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/apr_events">
                <p class="pag-month">Apr</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/may_events">
                <p class="pag-month">May</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/jun_events">
                <p class="pag-month">Jun</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/jul_events">
                <p class="pag-month">Jul</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/aug_events">
                <p class="pag-month">Aug</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/sep_events">
                <p class="pag-month">Sep</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/oct_events">
                <p class="pag-month">Oct</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/nov_events">
                <p class="pag-month">Nov</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="/dec_events">
                <p class="pag-month">Dec</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2"><a href="#">»</a></li>
    </ul>
</div>