<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
        <li class="mx-2"><a href="#">«</a></li>
        <li class="mx-2">
            <a href="events/jan.html">
                <p class="pag-month">Jan</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/feb.html">
                <p class="pag-month">Feb</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/mar.html">
                <p class="pag-month">Mar</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/apr.html">
                <p class="pag-month">Apr</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/may.html">
                <p class="pag-month">May</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/jun.html">
                <p class="pag-month">Jun</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/jul.html">
                <p class="pag-month">Jul</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/aug.html">
                <p class="pag-month">Aug</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/sep.html">
                <p class="pag-month">Sep</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/oct.html">
                <p class="pag-month">Oct</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/nov.html">
                <p class="pag-month">Nov</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2">
            <a href="events/dec.html">
                <p class="pag-month">Dec</p>
                <p class="pag-year">2022</p>
            </a>
        </li>
        <li class="mx-2"><a href="#">»</a></li>
    </ul>
</div>