{% extends 'base.html' %}

{% block title %}Celestial Countdown Events{% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}
{% include 'partials/month-pagination.html' %}

<div class="container">
    <div class="col-sm-12 text-center" id="upcoming-events">
        <div class="row d-flex align-items-center justify-content-center mt-5">
            <h3 class="mr-2">Events for December 2021</h3> <u><a href="/calendar.html">See Full Calendar</a></u>
            
        </div>
        <hr style="background-color: aliceblue;">

        <div class="row d-flex justify-content-center my-3 mt-5">
            <img src="/static/images/newmoon.png" width="100px" height="100px" class="mr-2">
            <div class="col">
                <div class="row justify-content-center">
                    <p style="font-size: 1.25rem;">New Moon</p>
                    <p class="text-muted ml-2">December 4th, 2021</p>
                </div>
                <p>The Moon will located on the same side of the Earth as the Sun and will not be visible in the night sky. This phase occurs at 07:44 UTC. This is the best time of the month to observe faint objects such as galaxies and star clusters because there is no moonlight to interfere.</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-3 mt-5">
            <img src="/static/images/solareclipse.png" width="100px" height="100px" class="mr-2">
            <div class="col">
                <div class="row justify-content-center">
                    <p style="font-size: 1.25rem;">Total Solar Eclipse</p>
                    <p class="text-muted ml-2">December 4th, 2021</p>
                </div>
                <p>A total solar eclipse occurs when the moon completely blocks the Sun, revealing the Sun's beautiful outer atmosphere known as the corona. The path of totality will for this eclipse will be limited to Antarctica and the southern Atlantic Ocean. A partial eclipse will bee visible throughout much of South Africa.</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-3 mt-5">
            <img src="/static/images/meteor3.png" width="100px" height="100px" class="mr-2">
            <div class="col">
                <div class="row justify-content-center">
                    <p style="font-size: 1.25rem;">Geminids Meteor Shower</p>
                    <p class="text-muted ml-2">December 13th-14th, 2021</p>
                </div>
                <p>The Geminids is the king of the meteor showers. It is considered by many to be the best shower in the heavens, producing up to 120 multicolored meteors per hour at its peak. It is produced by debris left behind by an asteroid known as 3200 Phaethon, which was discovered in 1982. The shower runs annually from December 7-17. It peaks this year on the night of the 13th and morning of the 14th. The waxing gibbous moon will block out most of the fainter meteors this year. But the Geminids are so numerous and bright that this could still be a good show. Best viewing will be from a dark location after midnight. Meteors will radiate from the constellation Gemini, but can appear anywhere in the sky.</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-3 mt-5">
            <img src="/static/images/fullmoon.png" width="100px" height="100px" class="mr-2">
            <div class="col">
                <div class="row justify-content-center">
                    <p style="font-size: 1.25rem;">Full Moon</p>
                    <p class="text-muted ml-2">December 19th, 2021</p>
                </div>
                <p>The Moon will be located on the opposite side of the Earth as the Sun and its face will be will be fully illuminated. This phase occurs at 04:37 UTC. This full moon was known by early Native American tribes as the Cold Moon because this is the time of year when the cold winter air settles in and the nights become long and dark. This moon has also been known as the Long Nights Moon and the Moon Before Yule.</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-3 mt-5">
            <img src="/static/images/sun.png" width="100px" height="100px" class="mr-2">
            <div class="col">
                <div class="row justify-content-center">
                    <p style="font-size: 1.25rem;">December Solstice</p>
                    <p class="text-muted ml-2">December 21st, 2021</p>
                </div>
                <p>The December solstice occurs at 15:50 UTC. The South Pole of the earth will be tilted toward the Sun, which will have reached its southernmost position in the sky and will be directly over the Tropic of Capricorn at 23.44 degrees south latitude. This is the first day of winter (winter solstice) in the Northern Hemisphere and the first day of summer (summer solstice) in the Southern Hemisphere.</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center my-3 mt-5">
            <img src="/static/images/meteor3.png" width="100px" height="100px" class="mr-2">
            <div class="col">
                <div class="row justify-content-center">
                    <p style="font-size: 1.25rem;">Ursids Meteor Shower </p>
                    <p class="text-muted ml-2">December 21st-22nd, 2021</p>
                </div>
                <p> The Ursids is a minor meteor shower producing about 5-10 meteors per hour. It is produced by dust grains left behind by comet Tuttle, which was first discovered in 1790. The shower runs annually from December 17-25. It peaks this year on the the night of the 21st and morning of the 22nd. The nearly full moon will be a problem this year, blocking all but the brightest meteors. But if you are patient enough, you may still be able to catch a few good ones. Best viewing will be just after midnight from a dark location far away from city lights. Meteors will radiate from the constellation Ursa Minor, but can appear anywhere in the sky.</p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}