{% extends 'base.html' %}

{% block title %}Celestial Countdown{% endblock %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="container mt-5">
        <div class="row">
            <!--COUNTDOWN-->
            <div class="col-sm-9 mt-4 text-center" id="countdown-bg">
                
                <h4 class="mt-5" style="font-weight: 300;">Next Celestial Event...</h4>
                <h1 style="color: #FFFFFF;" class="my-4">{{ event.eventName }}</h1>
                
                <div class="mt-5">
                    <div class="container" >
                        <div class="row mx-5 py-3" id="countdown">
                            <div class="col-3">
                                <h1 style="font-size: 4rem;" id="days"></h1>
                                <h5>DAYS</h5>
                            </div>
                            <div class="col-3">
                                <h1 style="font-size: 4rem;" id="hours"></h1>
                                <h5>HOURS</h5>
                            </div>
                            <div class="col-3">
                                <h1 style="font-size: 4rem;" id="mins"></h1>
                                <h5>MINUTES</h5>
                            </div>
                            <div class="col-3">
                                <h1 style="font-size: 4rem;" id="secs"></h1>
                                <h5>SECONDS</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <p class="mx-5 py-1" id="time-until">{{ time }}</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-1 p-0" style="width: 2.0833333%;flex: 0 0 2.0833333%;max-width: 2.0833333%;"></div>
            <!--SIDEBAR-->
            <div class="col-sm-3 mt-4" style="width: 22.91665%;flex: 0 0 22.91665%;max-width: 22.91665%;" id="sidebar">
                <div class="mt-3" id="search" style="background-color: #222222;color: #555555;">
                    <img class="img-fluid ml-3 p-2" src="/static/images/Search Icon.png">
                    <span class="p-2">Search site...</span>
                </div>

                <div id="location" class="mt-4 p-3 text-center">
                    <img class="img-fluid pr-3" src="/static/images/Polygon 1.png">
                    <span>San Rafael, California</span>
                    <hr>
                    <p class="my-4">Latitude: <span style="font-weight: 300;">37.980020</span></p>
                    <p class="my-4">Longitude: <span style="font-weight: 300;">-122.510572</span></p>
                    <p class="my-4">Timezone: <span style="font-weight: 300;">PST</span></p>
                    
                </div>

                <div id="location-change" class="text-center my-4">
                    <p class="py-2"><a>Change Location</a></p>
                </div>

                <div id="view-map" class="text-center my-4">
                    <p class="py-2"><a>View Map</a></p>
                </div>

                <div id="view-calendar" class="text-center my-4">
                    <p class="py-2"><a href="calendar.html">View Calendar</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-9 text-center" id="upcoming-events">
                <div class="row d-flex align-items-center justify-content-center mt-5">
                    <h4 class="mr-2">Upcoming Events</h4> <u><a href="/calendar.html">See Full Calendar</a></u>
                    
                </div>
                <hr style="background-color: aliceblue;">

                {% for event in events_desc %}
                    <div class="row d-flex justify-content-center my-3 mt-5">
                        <img src="{{ event.img }}" width="100px" height="100px" class="mr-2">
                        <div class="col">
                            <div class="row justify-content-center">
                                <p style="font-size: 1.25rem;">{{ event.eventName }}</p>
                                <p class="text-muted ml-2">{{ event.date }}</p>
                            </div>
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    {% block javascript %}
        <script>
            (function () {
                
                console.log('{{ json_str | tojson }}')
                jstime = '{{ json_str | tojson }}'
                const second = 1000,
                    minute = second * 60,
                    hour = minute * 60,
                    day = hour * 24;
            
                let today = new Date(),
                    dd = String(today.getDate()).padStart(2, "0"),
                    mm = String(today.getMonth() + 1).padStart(2, "0"),
                    yyyy = today.getFullYear(),
                    nextYear = yyyy + 1,
                    dayMonth = jstime,
                    birthday = dayMonth + yyyy;
                
                today = mm + "/" + dd + "/" + yyyy;
                // if (today > birthday) {
                // birthday = dayMonth + nextYear;
                // }
                //end
                
                const countDown = new Date(birthday).getTime(),
                    x = setInterval(function() {    
            
                    const now = new Date().getTime(),
                    distance = countDown - now;

                    document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("mins").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("secs").innerText = Math.floor((distance % (minute)) / second);
            
                    }, 0)
                }
            ());
        </script>
    {% endblock %}
{% endblock %}